<div class="container" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
    <div class="card" style="width: 50%;">
      <div class="card-body">
        <h5 class="card-title">Connexion</h5>
        <div class="card-text">
          <form (ngSubmit)="login()" #form="ngForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Entrez votre mail" [(ngModel)]="model.email" required />
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Mot de passe</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Mot de passe" [(ngModel)]="model.password" required />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Connexion</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  
