<div class="container" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
    <div class="card" style="width: 90%;">
      <div class="card-body">
        <h5 class="card-title">Tâches <button type="button" class="float-right btn btn-outline-danger btn-sm" (click)="logout()">Déconnexion</button></h5>
        <div
        *ngIf="isTasksLoaded"
        class="card-text">
        <!-- Si il y a des tasks -->
            <ul 
            *ngIf="!isNoTasks"
            class="row list-unstyled">
                <li class="col-12 d-inline-block mb-2"
                    *ngFor="let task of tasks; let i = index"
                >
                    {{tasks[i].task_name}}  
                    <button
                      class="btn btn-sm btn-outline-secondary mr-2 mb-1"
                      (click)="delete(tasks[i].id_task)"
                    >
                      <i class="ft-arrow-left"></i>x
                    </button>
                </li>
            </ul>
            <!-- Si il n'y a plus de tâches -->
            <ul  
            *ngIf="isNoTasks"
            class="row list-unstyled">
              <li class="col-12 d-inline-block mb-2">Plus rien à faire! :O</li>
            </ul>
        </div>
        <div class="Addtask">
          <form (submit)="addTodo()">
            <input
              type="text"
              name="inputTodo"
              placeholder="Entrer une tâche..."
              class="todo-input"
              [(ngModel)]="inputTodo"
              />
              <input type="submit" value="Ajouter" class="todo-submit"/>
          </form>
        </div>
      </div>
    </div>
  </div>